@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --kanban-board-circle-blue: oklch(0.6232 0.1879 259.80);
    --kanban-board-circle-cyan: oklch(0.7146 0.1256 215.13);
    --kanban-board-circle-gray: oklch(0.5513 0.0233 264.36);
    --kanban-board-circle-green: oklch(0.7229 0.1921 149.58);
    --kanban-board-circle-indigo: oklch(0.5860 0.2037 277.12);
    --kanban-board-circle-pink: oklch(0.6559 0.2117 354.34);
    --kanban-board-circle-purple: oklch(0.6267 0.2325 303.86);
    --kanban-board-circle-red: oklch(0.6368 0.2078 25.33);
    --kanban-board-circle-violet: oklch(0.6059 0.2187 292.72);
    --kanban-board-circle-yellow: oklch(0.7959 0.1618 86.05);
    --color-kanban-board-circle-blue: var(--kanban-board-circle-blue);
    --color-kanban-board-circle-cyan: var(--kanban-board-circle-cyan);
    --color-kanban-board-circle-gray: var(--kanban-board-circle-gray);
    --color-kanban-board-circle-green: var(--kanban-board-circle-green);
    --color-kanban-board-circle-indigo: var(--kanban-board-circle-indigo);
    --color-kanban-board-circle-pink: var(--kanban-board-circle-pink);
    --color-kanban-board-circle-primary: var(--kanban-board-circle-primary);
    --color-kanban-board-circle-purple: var(--kanban-board-circle-purple);
    --color-kanban-board-circle-red: var(--kanban-board-circle-red);
    --color-kanban-board-circle-violet: var(--kanban-board-circle-violet);
    --color-kanban-board-circle-yellow: var(--kanban-board-circle-yellow);
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --kanban-board-circle-blue: oklch(0.7135 0.1435 254.61);
    --kanban-board-circle-cyan: oklch(0.7973 0.1339 211.45);
    --kanban-board-circle-gray: oklch(0.7137 0.0192 261.33);
    --kanban-board-circle-green: oklch(0.8003 0.1823 151.70);
    --kanban-board-circle-indigo: oklch(0.6797 0.1586 276.96);
    --kanban-board-circle-pink: oklch(0.7253 0.1752 349.74);
    --kanban-board-circle-purple: oklch(0.7218 0.1766 305.51);
    --kanban-board-circle-red: oklch(0.7108 0.1660 22.21);
    --kanban-board-circle-violet: oklch(0.7093 0.1589 293.52);
    --kanban-board-circle-yellow: oklch(0.8601 0.1730 91.84);
  }
  .theme {
    --kanban-board-circle-primary: var(--primary);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}